/* Hauptcontainer */
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-image: url('/mein-wetter/styles/dunkle-wolken.jpg'); /* Hintergrundbild-Pfad relativ zum öffentlichen Verzeichnis */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Überschrift */
h1 {
  font-size: 32px;
  color: #5f1af5;
  margin: 0; /* Entferne den unteren Rand */
  text-align: center; /* Zentriere horizontal */
  padding-top: 20px; /* Platz oberhalb der Überschrift hinzufügen */
}

/* Formular */
form {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

/* Wetterinformationen */
.weather-info {
  background-color: #0ceb48;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center; /* Zentriere den Text horizontal in der Wetterinfo */
}

h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  color: #666;
  margin-bottom: 5px;
}