/* Importieren Sie Schriftarten und Icons für das Design */
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);

/* Grundlegendes Styling für das gesamte Dokument */
body {
  color: #333333; /* Setze die Schriftfarbe */
  font-family: Arial, Helvetica, sans-serif; /* Setze die Schriftart */
  max-width: 100%; /* Max. Breite des Body-Elements */
  margin: 0 auto; /* Zentriere den Body-Inhalt und setze den Abstand zu den Rändern auf 0 */
  padding: 0 16px; /* Polsterung auf beiden Seiten */
  display: flex; /* Nutze Flexbox zur Anordnung von Elementen */
  flex-direction: column; /* Ordne die Elemente in einer Spalte an */
  min-height: 100vh; /* Mindesthöhe ist die gesamte Viewport-Höhe */
}

.main-content {
  flex-grow: 1; /* Lässt den Hauptinhalt wachsen und füllt den verfügbaren Raum aus */
}

header {
  margin-top: 16px; /* Abstand oben */
  margin-bottom: 48px; /* Abstand unten */
  text-align: center; /* Zentriert den Text */
}

h2 {
  font-size: 64px; /* Setzt die Schriftgröße */
  margin-bottom: 16px; /* Abstand nach unten */
}

/* Styling für das Haupt-Wetter-Widget */
.widget {
  position: absolute; /* Absolute Positionierung im Elternelement */
  top: 50%; /* Positioniere das obere Ende des Elements in der Mitte des Containers */
  left: 50%; /* Positioniere die linke Seite des Elements in der Mitte des Containers */
  min-height: 750px; /* Minimale Höhe */
  width: 90%;  /* Breite für mobile Geräte */
  transform: translate(-50%, -50%); /* Verschiebt das Element um 50% seiner eigenen Höhe und Breite nach links und oben, um es zu zentrieren */
  background: linear-gradient(120deg, #c82a49, #630c0c); /* Hintergrundfarbe mit einem linearen Verlauf */
  cursor: auto; /* Cursor-Stil */
  border-radius: 20px; /* Eckenradius */
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15); /* Schatten um das Widget */
  display: flex; /* Nutze Flexbox zur Anordnung von Elementen */
  flex-direction: column; /* Ordne die Elemente in einer Spalte an */
  align-items: center; /* Zentriere die Elemente horizontal */
  justify-content: center; /* Zentriere die Elemente vertikal */
}

/* Styling für die Wetterstandortleiste */
.weatherLocation{
  display: flex; /* Nutze Flexbox zur Anordnung von Elementen */
  align-items: center; /* Zentriere die Elemente vertikal */
  justify-content: center; /* Zentriere die Elemente horizontal */
  border-radius: 20px; /* Eckenradius */
  padding: 2rem; /* Polsterung auf allen Seiten */
}

.weatherLocation button{
  background: #080705; /* Hintergrundfarbe des Buttons */
  color:#fff; /* Schriftfarbe des Buttons */
  border: 1px solid transparent; /* Transparenter Rand um den Button */
}

/* Entferne den Umriss, wenn das Eingabefeld fokussiert ist */
.weatherLocation input:focus{
  outline: 0 none;
}

/* Styling für das Wettericon */
.widget .weatherIcon {
  height: 60%; /* Setze die Höhe */
  border-top-left-radius: 20px; /* Eckenradius oben links */
  border-top-right-radius: 20px; /* Eckenradius oben rechts */
  display: flex; /* Nutze Flexbox zur Anordnung von Elementen */
  align-items: center; /* Zentriere die Elemente vertikal */
  justify-content: space-around; /* Verteile die Elemente mit gleichem Abstand */
  font-size: 100px; /* Schriftgröße des Icons */
  color: white; /* Schriftfarbe des Icons */
}

.widget .weatherIcon i {
  padding-top: 30px; /* Polsterung oben */
}

/* Styling für das Eingabefeld */
.input-field {
  width: 60%; /* Setze die Breite */
  border-radius: 50px; /* Eckenradius */
  border: none; /* Kein Rand */
  height: 40px; /* Setze die Höhe */
  margin-right: 20px; /* Abstand rechts */
  text-align: center; /* Zentriert den Text */
  font-size: 20px; /* Schriftgröße */
}

/* Styling für den Such-Button */
.search-button {
  width: 80px; /* Setze die Breite */
  height: 40px; /* Setze die Höhe */
  border-radius: 50px; /* Eckenradius */
  cursor: pointer; /* Ändere den Cursor beim Überfahren */
}

/* Styling für den Temperaturumschalt-Button */
.toggleTemp-button {
  width: 80px; /* Setze die Breite */
  height: 40px; /* Setze die Höhe */
  border-radius: 50px; /* Eckenradius */
  margin-top: 10px; /* Abstand oben */
  background: #080705; /* Hintergrundfarbe */
  color:#fff; /* Schriftfarbe */
  cursor: pointer; /* Ändere den Cursor beim Überfahren */
}

/* Container für das Wettericon und die Wetterinformationen */
.icon-and-weatherInfo {
  display: flex; /* Nutze Flexbox zur Anordnung von Elementen */
  justify-content: center; /* Zentriere die Elemente horizontal */
  align-items: center; /* Zentriere die Elemente vertikal */
  gap: 40px; /* Abstand zwischen den Elementen */
  margin-top: 50px; /* Abstand oben */
}

/* Styling für die Temperaturanzeige */
.temperature {
  font-size: 55px; /* Schriftgröße */
  color: white; /* Schriftfarbe */
}

.tempElementCelsius {
  font-size: 55px; /* Schriftgröße in Celsius */
  color: white; /* Schriftfarbe */
}

.tempElementFahrenheit {
  font-size: 55px; /* Schriftgröße in Fahrenheit */
  color: white; /* Schriftfarbe */
}

/* Styling für den Standortnamen */
.place {
  text-align: center; /* Zentriert den Text */
  font-size: 35px; /* Schriftgröße */
  margin-top: 70px; /* Abstand oben */
  color: white; /* Schriftfarbe */
}

/* Styling für die Wetterbedingungen */
.weatherCondition {
  color: white; /* Schriftfarbe */
}

/* Styling für die Windgeschwindigkeit */
.windSpeed {
  color: white; /* Schriftfarbe */
}

/* Styling für das Datum */
.date {
  text-align: center; /* Zentriert den Text */
  font-size: 20px; /* Schriftgröße */
  margin-top: 20px; /* Abstand oben */
  color: white; /* Schriftfarbe */
}

/* Styling für das Etikett */
.label {
  font-size: 20px; /* Schriftgröße */
  margin-top: 20px; /* Abstand oben */
  color: white; /* Schriftfarbe */
  display: flex; /* Nutze Flexbox zur Anordnung von Elementen */
  align-items: center; /* Zentriere die Elemente vertikal */
  margin-left: 90px; /* Abstand links */
}

/* Styling für die Überschrift im Registrierungsbereich */
.h1-register {
  padding-top: 75px; /* Polsterung oben */
  font-size: 64px; /* Schriftgröße */
  margin-bottom: 16px; /* Abstand unten */
  display: flex; /* Nutze Flexbox zur Anordnung von Elementen */
  align-items: center; /* Zentriere die Elemente vertikal */
  color: white; /* Schriftfarbe */
  margin-left: 35px; /* Abstand links */
}

/* Styling für die Überschrift im Anmeldebereich */
.h1-login {
  padding-top: 75px; /* Polsterung oben */
  font-size: 64px; /* Schriftgröße */
  margin-bottom: 16px; /* Abstand unten */
  display: flex; /* Nutze Flexbox zur Anordnung von Elementen */
  align-items: center; /* Zentriere die Elemente vertikal */
  color: white; /* Schriftfarbe */
  margin-left: 20px; /* Abstand links */
}

/* Styling für das Eingabefeld im Anmeldebereich */
.input-field-login {
  width: 60%; /* Setze die Breite */
  border-radius: 50px; /* Eckenradius */
  border: none; /* Kein Rand */
  height: 40px; /* Setze die Höhe */
  margin-right: 20px; /* Abstand rechts */
  margin-left: 85px; /* Abstand links */
  text-align: center; /* Zentriert den Text */
  font-size: 20px; /* Schriftgröße */
}

/* Styling für das Eingabefeld im Registrierungsbereich */
.input-field-register {
  width: 60%; /* Setze die Breite */
  border-radius: 50px; /* Eckenradius */
  border: none; /* Kein Rand */
  height: 40px; /* Setze die Höhe */
  margin-right: 20px; /* Abstand rechts */
  margin-left: 85px; /* Abstand links */
  text-align: center; /* Zentriert den Text */
  font-size: 20px; /* Schriftgröße */
}

/* Styling für den Registrierungsbutton */
.button-register {
  width: 80px; /* Setze die Breite */
  height: 40px; /* Setze die Höhe */
  border-radius: 50px; /* Eckenradius */
  margin-top: 20px; /* Abstand oben */
  margin-left: 200px; /* Abstand links */
  background: #080705; /* Hintergrundfarbe */
  color:#fff; /* Schriftfarbe */
  cursor: pointer; /* Ändere den Cursor beim Überfahren */
}

/* Styling für den Anmeldebutton */
.button-login {
  width: 80px; /* Setze die Breite */
  height: 40px; /* Setze die Höhe */
  border-radius: 50px; /* Eckenradius */
  margin-top: 20px; /* Abstand oben */
  margin-left: 200px; /* Abstand links */
  background: #080705; /* Hintergrundfarbe */
  color:#fff; /* Schriftfarbe */
  cursor: pointer; /* Ändere den Cursor beim Überfahren */
}

/* Styling für die Liste der bevorzugten Orte */
.favorite-places {
  color: white; /* Schriftfarbe */
  cursor: pointer; /* Ändere den Cursor beim Überfahren */
  margin-top: 20px; /* Abstand oben */
  margin-left: 10px; /* Abstand links */
}

/* Styling für die Liste der bevorzugten Orte */
.placesList {
  display: flex; /* Nutze Flexbox zur Anordnung von Elementen */
  flex-wrap: wrap; /* Ermöglicht das Umfließen von Elementen */
  gap: 10px; /* Abstand zwischen den Städten, anpassbar */
  list-style-type: none; /* Entfernt Aufzählungszeichen */
  padding: 0; /* Entfernt Standard-Padding */
  margin: 0; /* Entfernt Standard-Margin */
}

.placesList li {
  flex-basis: calc(20% - 10px); /* 20% für 5 Elemente. -10px ist der Abstand */
  background-color: #000000; /* Optional, nur zur Veranschaulichung */
  border-radius: 50px;
  padding: 5px; /* Optional */
  text-align: center; /* Zentriert den Stadtnamen */
  box-sizing: border-box; /* Damit die Polsterung nicht zur Gesamtbreite hinzugefügt wird */
}

/* Styling für die Navigationsleiste */
nav ul {
  list-style-type: none; /* Entfernt Aufzählungspunkte von Listen */
  margin: 0; /* Setzt den Außenabstand der Liste auf 0 */
  padding: 0; /* Setzt den Innenabstand der Liste auf 0 */
  display: flex; /* Nutzt Flexbox zur Anordnung der Listenelemente */
  justify-content: space-around; /* Verteilt die Listenelemente gleichmäßig im verfügbaren Raum */
}

nav li {
  display: inline; /* Listenelemente werden horizontal angezeigt */
  margin-right: 20px; /* Rechter Abstand zwischen den Listenelementen */
}

nav li:last-child {
  margin-right: 0; /* Entfernt den rechten Abstand vom letzten Listenelement, um zusätzlichen Abstand zu vermeiden */
}

nav a {
  text-decoration: none; /* Entfernt die Unterstreichung von Links */
  padding: 10px 20px; /* Innenabstand von Links */
  background-color: #000000; /* Hintergrundfarbe der Links */
  color: white; /* Schriftfarbe der Links */
  border-radius: 5px; /* Eckenradius der Links */
  transition: background-color 0.3s; /* Animiert den Hintergrund bei Hover-Effekten */
}

nav a:hover {
  background-color: #630c0c; /* Ändert die Hintergrundfarbe der Links beim Überfahren mit der Maus */
}

.toggleTemp-button:hover {
  background-color: #630c0c; /* Ändert die Hintergrundfarbe des Temperatur-Umschalt-Buttons beim Überfahren */
}

.search-button:hover {
  background-color: #630c0c; /* Ändert die Hintergrundfarbe des Such-Buttons beim Überfahren */
}

.button-login:hover {
  background-color: #630c0c; /* Ändert die Hintergrundfarbe des Anmelde-Buttons beim Überfahren */
}

.button-register:hover {
  background-color: #630c0c; /* Ändert die Hintergrundfarbe des Registrierungs-Buttons beim Überfahren */
}

.placesList li:hover {
  background-color: #630c0c; /* Ändert die Hintergrundfarbe der Liste der bevorzugten Orte beim Überfahren */
}

.humidity {
  color: white; /* Schriftfarbe */
}


.atmospherePressure {
  color: white; /* Schriftfarbe */
}

/* Media Queries für Tablets und Desktops */
@media screen and (min-width: 768px) {
  body {
      max-width: 768px; /* Maximale Breite des Body-Elements für Tablets */
  }

  .widget {
      width: 80%; /* Breite des Widgets für Tablets */
  }
}

@media screen and (min-width: 1024px) {
  body {
      max-width: 1024px; /* Maximale Breite des Body-Elements für Desktops */
  }

  .widget {
      width: 800px; /* Breite des Widgets für Desktops */
  }
}
